#GameBoardCanvas {
    border: 5px solid maroon;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
	background: rosybrown;
}

body {
    background: black;
    padding: 5px;
	color: white;
	
}

