

#GameBoardCanvas {
    border: 5px solid maroon;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
	background: rosybrown;
	display: block;
    margin: 0 auto;
}

body {
    padding: 5px;
	color: black;
	background: url(zimmer.jpg);
	background-size: cover;
	
	
}


.beschreibung {
	background-color: white;
	padding: 0px 40px 30px 40px;
	margin-bottom: 50px;

}

.beschreibung h1 {
	font-size: 3em;
	text-align: center;
}

#timer {
	background-color: white;
	text-align: center;
	font-size: 2em;
}